@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 pb-5">E-Commerce</h1>

    <div class="row">
        <div class="col-3">
            <ul>
                <li><a href="/Customers">Customer</a></li>
                <li><a href="/Orders">Orders</a></li>
                <li><a href="/Products">Products</a></li>
                <li><a href="/Suppliers">Suppliers</a></li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li><a href="/StockControls">Stocks Control</a></li>
                <li><a href="/Stocks">Stocks</a></li>
                <li><a href="/PaymentCards">Payment Data</a></li>
            </ul>
        </div>
    </div>
</div>
